body {
	background-image: url(background.jpg);
	color: whitesmoke;
}

.links {
	display: flex;
	justify-content: flex-end;
	position: relative;
	right: 200px;
}

a:hover {
	color: #FA8B0D;
	background-color: transparent;
	text-decoration: underline;
}

.home {
	position: relative;
	right: 45px;
	color: whitesmoke;
	text-decoration: none;
}

.about {
	position: relative;
	right: 30px;
	color: whitesmoke;
	text-decoration: none;
}

.portfolio {
	position: relative;
	right: 20px;
	color: whitesmoke;
	text-decoration: none;
}

.contact {
	position: relative;
	right:  5px;
	color: whitesmoke;
	text-decoration: none;
}

.ryananmike_img {
	background-image: url(ryananmike.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	max-height: 1000px;
}

.heading {
	position: absolute;
	top: 20px;
}

.p1 {
	position: absolute;
  
	justify-content: flex-end;
   	max-width: 500px;
}

.grid {
	--gap: 75px; 
	--num-columns: 2;
	--row-height: 650px;

	box-sizing: border-box;
	padding: var(--gap);

	display: grid;
	grid-template-columns: repeat(var(--num-columns), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
	position: unset;
	margin-left: 10%;
}

.handdrawn {
	position: relative;
	right: 150px;
	top: 250px;
}

















